<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-section">
                <h4>USBVerkehrthreum (GrüneEule)</h4>
                <p><a href="https://grueneeule.de/l/github">GitHub</a></p>
                <p><a href="https://status.grueneeule.de">Status</a></p>
            </div>
            <div class="footer-section">
                <h4>Navigation</h4>
                <p><a href="/index.html">Home</a></p>
                <p><a href="https://grueneeule.de">GrüneEule</a></p>
                <p><a href="https://grueneeule.de/l/dc">Discord Server</a></p>
            </div>
            <div class="footer-section">
                <h4>Aktuelle Beta/Alpha Projekte</h4>
                <p><a href="">Noch nicht so viel</a></p>
            </div>
            <div class="footer-section">
                <h4>Kontakt</h4>
                <p><a href="https://grueneeule.de/l/dc" target="_blank" rel="noopener noreferrer">Discord-Server beitreten</a></p>
                <p><a href="mailto:kontakt@grueneeule.de">kontakt@grueneeule.de</a></p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2025 USBVerkehrtherum by GrüneEule. Alle Rechte vorbehalten.</p>
        </div>
    </div>
</footer>