<header>
    <nav>
        <a href="/index.html" class="logo">
            <img src="/assets/img/USBVerkehrtherum.png" alt="GrüneEule Logo" class="logo-img">
            USBVerkehrtherum
        </a>
        <ul class="nav-links">
            <li><a href="/index.html">Home</a></li>
            <li><a href="https://grueneeule.de">GrüneEule</a></li>
            <li><a href="https://grueneeule.de/l/dc" target="_blank" rel="noopener noreferrer">Discord Server</a></li>
        </ul>
    </nav>
</header>
